*{
    font-family: Gotham SSm A,Gotham SSm B,Century Gothic,Futura,Arial,sans-serif;
}


:root{
    --login-logo-height:3rem;
    --border-radius: 5px;
    --header-height: 5rem;
    --screen-sm-min: 576px;
    

}


body{

    background:black;
    padding-top: var(--login-logo-height) ;
   


}



a, a:link, a:visited, a:focus {
    text-decoration: none ;
    color: blanchedalmond;
}

