body {
  padding-top: var(--navbar-height);
  background-color:black;

}


.header {

  padding-top: var(--navbar-height);
 
  display: block;
  
  
}

.title{
  height: var(--navbar-height-20px);
  background-color: black;
  font-size: 1.3rem;
  padding: 5px;
  color:white;
  width: 100%;
  margin-bottom: 1px;
  
  
  


}
.the-best {

    padding-top: var(--navbar-height);
    height: 750px;
    width: 100%;
    margin-bottom: 5px;
    padding:0;
    margin-top: 1px;
    background-color:black;

 

}



.container-the-best {

    padding-top: var(--navbar-height);
    /* position: absolute; */
    height: 100vh;
    width: 100%;
    margin-bottom: 10px;
    padding:0;
    margin-top:0;
    background-color:blue;
    display: flex;
    flex-direction: column;
    
    
}

.shield__container{
  width: 80px;
  height: 80px;
  /* position: relative; */
}
.slide {
    border-right: 20px solid black;
    flex: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    /* position: relative; */
  }

.slide:last-child {
    border-right: none;
  }


.slide:hover {
    flex-grow: 4;
  }


.content {
    background-color: white;
    position: absolute;
    bottom: 0;
    margin: 2rem;
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
  }

  .slide:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .slide:nth-child(1) {
    background: url('../img/4b2d0c4e1ce350797ef9f53a18af67557b97a5b71fd9b5cd150aea8a12ad2e00._UR1920\,1080_RI_SX356_FMjpg_.jpg') center center
      no-repeat;
    background-size: cover;
    
  }

  .slide:nth-child(2) {
    background: url('../img/4b2d0c4e1ce350797ef9f53a18af67557b97a5b71fd9b5cd150aea8a12ad2e00._UR1920\,1080_RI_SX356_FMjpg_.jpg') center center
      no-repeat;
    background-size: cover;
  }
  .slide:nth-child(3) {
    background: url('../img/4b2d0c4e1ce350797ef9f53a18af67557b97a5b71fd9b5cd150aea8a12ad2e00._UR1920\,1080_RI_SX356_FMjpg_.jpg') center center
      no-repeat;
    background-size: cover;
    
  }

  .slide:nth-child(4) {
    background: url('../img/4b2d0c4e1ce350797ef9f53a18af67557b97a5b71fd9b5cd150aea8a12ad2e00._UR1920\,1080_RI_SX356_FMjpg_.jpg') center center
      no-repeat;
    background-size: cover;
  }

  .ver{
    background-color:#00a3da ;
    width: 25px;
    height: 15px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 10px;
  }

  .footer{
    background-color: black;
    width: 100%;
    
    bottom: 0;
    color: gray;
    text-align: center;
    white-space: pre;
    margin-top:3rem;
    left: 0;
    padding: 20px;
    display: block;
   
    z-index: 1;

} 

  @media (min-width: 768px) {
   
    
    .container-the-best {

      padding-top: var(--navbar-height);
      /* position: absolute; */
      height: 100vh;
      width: 100%;
      margin-bottom: 10px;
      padding:0;
      margin-top:0;
      background-color:blue;
      display: flex;
      flex-direction: row;
      position: relative;
     
      
  }

      
      
      
      
     
        
    }


     

  }